*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.inner1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
    align-items: center;
    padding: 200px;
    background-image: url(https://images.pexels.com/photos/547114/pexels-photo-547114.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.inner2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    background-image: url(https://images.pexels.com/photos/413195/pexels-photo-413195.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.inner3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding: 200px;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-image: url(https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.inner4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-attachment: fixed;
}