*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    background-image: linear-gradient(to bottom, blue, red, yellow, white, green);
}

.outer>.inner{
    
    /* background-image: conic-gradient(red 45deg, yello ); */
    
    
    
    height: 450px;
    width: 450px;
    background-color: white;
    border-radius: 15px;
    
    background-image: url(https://cf-img-a-in.tosshub.com/lingo/stak/images/story/202504/67f6841751e42-rcbs-virat-kohli-in-this-frame-092833940-16x9.jpg?size=1600:900);

    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    background-position: center;
    /* background-position: top right; */
    /* background-position: top left; */
    background-size: cover;

}